/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

@layer base {
    :root {
        --gdsc-red: 4 90% 58%;
        --gdsc-blue: 217 89% 61%;
        --gdsc-yellow: 45 100% 58%;
        --gdsc-green: 136 53% 43%;
        --gdsc-gray: 0 0% 76%;
    
        --border: 0 0% 0%;
        --border-size: 3px;
        --border-offset: 10px;
        --border-offset2: 20px;


      html {
        @apply scroll-smooth;
      }
      * {
          font-family: "Poppins", sans-serif;
      }
    }
  
    .d-shadow-red {
        /* Main Styles */
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-red)) 0px var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) 0px var(--border-offset);
      }
    
      .d-shadow-yellow {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-yellow)) 0px var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) 0px var(--border-offset);
      }
    
      .d-shadow-blue {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-blue)) 0px var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) 0px var(--border-offset);
      }
    
      .d-shadow-green {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-green)) 0px var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) 0px var(--border-offset);
      }

      .x-shadow-red {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-red)) calc(var(--border-offset) * -1) var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) calc(var(--border-offset) * -1) var(--border-offset);
      }

      .x-shadow-yellow {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-yellow)) calc(var(--border-offset) * -1) var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) calc(var(--border-offset) * -1) var(--border-offset);
      }

      .x-shadow-blue {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-blue)) calc(var(--border-offset) * -1) var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) calc(var(--border-offset) * -1) var(--border-offset);
      }

      .x-shadow-green {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-green)) calc(var(--border-offset) * -1) var(--border-offset) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) calc(var(--border-offset) * -1) var(--border-offset);
      }

      .x-shadow-gray {
            border-radius: 10px;
            box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
              hsl(var(--gdsc-gray)) calc(var(--border-offset) * -1) var(--border-offset) 0px calc(var(--border-size) * -1),
              hsl(var(--border)) calc(var(--border-offset) * -1) var(--border-offset);
      }

      .z-shadow-yellow {
        border-radius: 10px;
        box-shadow: hsl(var(--border)) 0px 0px 0px var(--border-size) inset,
          hsl(var(--gdsc-yellow)) calc(var(--border-offset2) * -1) var(--border-offset2) 0px calc(var(--border-size) * -1),
          hsl(var(--border)) calc(var(--border-offset2) * -1) var(--border-offset2);
      }
      
  }
  

/* Tailwind Styles */

.app {
    @apply relative z-10 flex justify-center items-center flex-col;
}

.black_btn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-lg font-inter flex items-center justify-center max-sm:text-lg max-sm:px-2 max-sm:py-2.5;
}

.outline_btn {
    @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-lg font-inter flex items-center justify-center;
}

.head_text {
    @apply mt-0.5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
    @apply bg-gradient-to-r from-gray-900 via-gray-800 to-gray-700 bg-clip-text text-transparent;
}

.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-500 to-cyan-600 bg-clip-text text-transparent;
}

.dark_blue_gradient {
    @apply bg-gradient-to-r from-blue-800 to-cyan-700 bg-clip-text text-transparent;
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
    @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
    @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
    @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
    @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
    @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
    @apply absolute left-1/2 top-full p-5 rounded-lg bg-blue-500 min-w-[210px] max-w-[350px] flex flex-row gap-2 justify-center items-center transform -translate-x-1/2 ;
  }

.dropdown2 {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
    @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

.blue_link {
    @apply text-black px-2 text-base pl-5 pr-5 mt-2 hover:text-blue-600 font-poppins
  }

@media (max-width: 640px) {
    .logo-image {
      width: 80px;
    }
  }

  .google_gradient {
    @apply bg-gradient-to-r from-red-600 to-green-600 via-yellow-500 bg-clip-text text-transparent;
  }

  .text-5xl{
    font-weight: bold;
  }

  .p-4{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .py-16{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .color-class-insta{
    color: deeppink;
  }

  .color-class-Ln{
    color: blue;
  }

  .text-5xl{
    padding: 1.5rem;
  }


  .image-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .img-1,
  .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .img-2 {
    opacity: 0;
    transform: scale(0);
  }


  .profile_form_label{
    padding: 1rem;
    margin: 1rem;
    font-weight: 600;
  }

  .profile_input_style{
    border: 1px solid darkblue;   /* Border color */
    border-radius: 10px;          /* Border radius for curved corners */
    padding: 5px;                 /* Padding for inner content */
    font-size: 16px;              /* Font size */
    background-color: #f0f0f0;    /* Background color */
    color: #333;                 /* Text color */
    width: 100%; 
  }